name: Handle Release

on:
  release:
    types: [created]
  pull_request:
    branches: [ master ]
    types: [ closed ]

jobs:
  build:
    runs-on: windows-latest
    if: (github.event_name == 'pull_request' && github.event.pull_request.merged == true && github.actor == 'cherryleafroad' && github.head_ref == 'imupdate') || github.event_name == 'release'

    steps:
      - uses: actions/checkout@v2
      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23

      - name: Release build
        run: |
          ./build-release
          Compress-Archive -CompressionLevel Optimal -Path "jniLibs/arm64-v8a" -DestinationPath "imagemagick-7-android-static.zip"
          rm -r jniLibs
          ./.github-deps/change-to-shared-lib.ps1
          ./build-release
          Compress-Archive -CompressionLevel Optimal -Path "jniLibs/arm64-v8a" -DestinationPath "imagemagick-7-android-shared.zip"

      - name: Upload the artifacts
        if: github.event_name == 'release'
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'imagemagick-7-android-*.zip'

      - name: Get latest release tag
        if: github.event_name == 'pull_request'
        id: tag
        run: |
          $dir = Get-ChildItem -Directory -Path "ImageMagick-*" | Select-Object -Last 1
          $tag = ($dir | Split-Path -Leaf).Substring(12)
          Write-Host "::set-output name=TAG::$tag"

      - uses: ncipollo/release-action@v1
        if: github.event_name == 'pull_request'
        with:
          name: Android ImageMagick ${{ steps.tag.outputs.TAG }}
          artifacts: 'imagemagick-7-android-*.zip'
          body: |
            Library built using default config.
            
            If you need a different config than default, please follow compilation instructions on main page to manually build it (or, fork the project, change the config file, and use github actions to build it)
          token: ${{ secrets.GITHUB_TOKEN }}
          commit: ${{ github.sha }}
          tag: ${{ steps.tag.outputs.TAG }}
